@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F6F7FF;
}
.cadre{
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  justify-content: center;
}
.menuBurger{
  background-color: #4A64E7;
  position: fixed;
  color: #FFF;
  width: 14%;
  margin-left: 11rem;
}
.photo{
  height: 9vh;
  width: 6rem;
  border: 3px solid #FFF;
  margin: 1rem;
}
.nom{
  margin: 0 0.7rem;
}
.menuBurger h1{
  font-size: 1.6rem;
  font-weight: bold;
}
.point{
  color: #FF5959;
  font-size: 2rem;

}
.sticker i{
  font-size: 1rem;
}
.sticker{
  margin: 1rem 0;
  padding: .2rem 1rem;
}
.stickers{
  margin-top: 2rem;
}
.sticker span{
  margin: 0 1rem;
  font-weight: 200;
  font-size: .9rem;
}
.couleur{
  border-left: 3px solid #FF5959;
}
.moi{
  width: 65%;
  margin: 11.5rem auto;
}
.liens{
  display: flex;
  justify-content: space-between;
}
.menuBurger a{
  text-decoration: none;
  color: #FFF;
}
.cadreMoi{
  background: linear-gradient(100deg, rgba(74, 100, 231, 0.996),
  rgba(74, 100, 231, 0.756)),url(assets/image/photo.jpeg);
  background-size: cover;
  color: #FFF;
}
.cadreMoi .btn1{
  background-color: #FF5959;
  color: #FFF;
  margin-right: 1rem;
  border-radius: 2rem;
}
.cadreMoi .btn2{
  border: 1px solid #FFF;
  color: #FFF;
  border-radius: 2rem;
}
.btn{
  padding: .6rem 3rem;
}
.card{
  border-radius: 1rem;
  border: none;
}
.texte{
  margin: 2rem;
}
.orange{
  width: 4rem;
  height: 5px;
  border-radius: 2rem;
  background-color: #FF5959;
}
.texte h1{
  font-size: 1.5rem;
  font-weight: bold;
}
.Apropos{
  padding: 1rem 1rem 0;
}
.Apropos .card{
  border: none;
}
.Apropos img{
  width: 18vh;
  border-radius: 50%;
  height: 60%;
}
.cardApropos{
  background-color: #FFF;
  box-shadow: 5px 5px 20px #E8ECFD;
  border-radius: 1rem;
  padding: 2rem 0 4rem 0;
}
.btn{
  padding: .8rem 2rem;
}
.Apropos .btn1{
  background-color: #FF5959;
  color: #FFF;
  margin-right: 1rem;
  border-radius: 2rem;
}
.Apropos .btn2{
  background-color: #4A64E7;
  color: #FFF;
  border-radius: 2rem;
}
.cardContacts{
  box-shadow: 5px 5px 20px #E8ECFD;
}
.cardSticker h4{
  font-size: 1.2rem;
  font-weight: bold;
}
.cardSticker h4 i{
  margin-right: 1rem;
  color: #FF5959;
}
.cardSticker p{
  margin-left: 2rem;
}
.cardInput div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cardInput div input{
  width: 47%;
}
.cardInput textarea{
  height: 12vh;
}
.btn-send{
  background-color: #FF5959;
  color: #FFF;
  border-radius: 30px;
}
.cadreProject .card-body{
  position: absolute;
  visibility: hidden;
  border-radius: 1rem;
}
.cadreProject:hover .card-body{
  visibility: visible;
  background-color: #ff5959f3;
  color: #FFF;
  height: 100%;
  width: 100%;
}
.cardProjet img{
  border-radius: 1rem;
}
.projetRow{
  margin: 0 1.5rem;
}
.cardProjet{
  box-shadow: 5px 5px 20px #E8ECFD;
}
.serviceCouleurs{
  width: 100%;
  background-color: #E8ECFD;
  height: 4px;
}
.serviceFlex{
  display: flex;
  justify-content: space-between;
}
.serviceCouleurs div{
  width: 70%;
  background-color: #FF5959;
  height: 100%;
}
 .hr{
  width: 1px;
  height: 17vh;
  border: 1px dashed #FF5959;
}




@media (max-width: 880px) {
  .menuBurger{
    position: relative;
    width: 100%;
  }
  
}
@media (max-width: 1860px) {
  .menuBurger{
    margin-left: 9rem;
    width: 15%;
  }
}
@media (max-width: 1630px) {
  .menuBurger{
    margin-left: 7rem;
    width: 15%;
  }
}
@media (max-width: 1280px) {
  .menuBurger{
    width: 20%;
    margin: 0;
  }
}
@media (max-width: 880px) {
  .menuBurger{
    width: 100%;
  }
}