@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F6F7FF;
}
.cadre{
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  justify-content: center;
}
.menuBurger{
  background-color: #4A64E7;
  position: fixed;
  color: #FFF;
  width: 14%;
  border-radius: 2rem;
  margin-left: 11rem;
}
.photo{
  height: 9vh;
  width: 6rem;
  border: 3px solid #FFF;
  margin: 1rem;
}
.nom{
  margin: 0 0.7rem;
}
.menuBurger h1{
  font-size: 1.6rem;
  font-weight: bold;
}
.point{
  color: #FF5959;
  font-size: 2rem;
}
.sticker i{
  font-size: 1.1rem;
}
.sticker{
  margin: 1rem 0;
  padding: .2rem 1rem;
}
.stickers{
  margin-top: 2rem;
}
.sticker span{
  margin: 0 1rem;
  font-weight: bold;
  font-size: .9rem;
}
.couleur{
  border-left: 3px solid #FF5959;
}
.moi{
  width: 65%;
  margin: 10rem auto;
  background-color: #FF5959;
}
.liens{
  display: flex;
  justify-content: space-between;
}
.menuBurger a{
  text-decoration: none;
  color: #FFF;
}







@media (max-width: 880px) {
  .menuBurger{
    position: relative;
    width: 100%;
  }
  
}
@media (max-width: 1860px) {
  .menuBurger{
    margin-left: 9rem;
    width: 15%;
  }
}
@media (max-width: 1630px) {
  .menuBurger{
    margin-left: 7rem;
    width: 15%;
  }
}
@media (max-width: 1280px) {
  .menuBurger{
    width: 20%;
    margin: 0;
  }
}
@media (max-width: 880px) {
  .menuBurger{
    width: 100%;
  }
}